<!--  the code for comments will be here -->
<!-- it is a partial  -->
<li>
    <p>
        <small>
            
            <%= comment.user.name %>
        </small>
        <div>
            <%= comment.content %>
        </div>
        <div>
            <% if(locals.user && ((locals.user.id == comment.user.id )||( locals.user.id == post.user.id))){ %>
                <a href="/comments/destroy/<%= comment._id %>">x</a>
                

            <% } %>

        </div>
    </p>
    </li>