<!-- <html>
    <head>
     
    </head>
    <body>
        <%- include('_header'); %>
     <h1>
         Codeial Web App
         <%= title%>
     </h1>
     <%- include('_footer'); %>




    </body>
</html> -->
<link rel="stylesheet" href="/css/home.css">
<h1 id="main-heading">
        Codeial Web App
        <%= title%>
 </h1>