<!-- <html>
    <head>
     
    </head>
    <body>
        <%- include('_header'); %>
     <h1>
         Codeial Web App
         <%= title%>
     </h1>
     <%- include('_footer'); %>




    </body>
</html> -->
<link rel="stylesheet" href="/css/home.css">
<h1 id="main-heading">
        Codeial Web App
        <%= title%>
 </h1>
 <section id="feed-posts">
     <h3>Posts</h3>
 <form action="/posts/create" id="new-post-form" method="POST">
     <textarea name="content" cols="30" rows="3" placeholder="What's on your mind..??"></textarea>
     <input type="submit" value="Post">


 </form>
 </section>
