<!-- <html>
    <head>
     
    </head>
    <body>
        <%- include('_header'); %>
     <h1>
         Codeial Web App
         <%= title%>
     </h1>
     <%- include('_footer'); %>




    </body>
</html> -->
<h1>
        Codeial Web App
        <%= title%>
    </h1>