
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
        Codeial/profile
    </h1>
    <!-- user is here accessible bcoz of user.locals.user=req.user -->
    <h1> Name : <%= profile_user.name%></h1>
    <h1> Email : <%= profile_user.email%></h1>
    <!-- <h1><%= user.password%></h1> -->