<!-- <html>
    <head>

    </head>
    <body>
        <%- include('_header'); %>
        <h1>
            Codeial/profile
        </h1>
        <%- include('_footer'); %>
    </body>
</html> -->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
        Codeial/profile
</h1>
<h2>email:<%= user.email %></h2>
<h2>name:<%= user.name %></h2>